{% extends 'events/base.html' %}

{% block content %}
	{% if user.is_authenticated %}
	
		{% if submitted %}

			<div class="alert alert-success" id="myAlert" role="alert">
			  Your venue has been submitted successfully!
			</div>

			<script>
                // JavaScript code to redirect to the my_events page after 2 seconds
                setTimeout(function() {
                    window.location.href = "{% url 'my_venues' %}";
                }, 2000); // Redirect after 2 seconds (adjust as needed)
            </script>

		{% else %}
		<br>
			<div class="form-container">
				<div class="heading-container">
		            <h3>Add Venue</h3>
		        </div>
				<hr>
				<form action="" class="custom-form" method=POST enctype="multipart/form-data">
					{% csrf_token %}

					{{ form.as_p }}				
					<input type="submit" value="Add Venue" class="btn btn-custom">
				</form>
					
			</div>

		{% endif %}
		<br>

	{% else %}
	
		<h4>Sorry! You must be logged in to view this page</h4>
		<a href="{% url 'login' %}">Login Here</a>

		<br><br><br><br>
		<br><br><br>

	{% endif %}

{% endblock %}

