{% extends 'events/base.html' %}

{% block content %}
	{% if user.is_authenticated %}
	
		{% if submitted %}

			<h6>Your Event Was Submitted Successfully!</h6>

		{% else %}
		<div class="shadow p-4 mb-5 bg-body rounded">
		<h4>Create Event</h4>
			<style>
				form {
					margin: auto;
					padding: 20px;
				}
			</style>

			<form action="" method=POST>
				{% csrf_token %}

				{{ form.as_p }}

				<input type="submit" value="Submit" class="btn btn-secondary">
			</form>
			
		{% endif %}

	</div>

	{% else %}
	
		<h4>Sorry! You must be logged in to view this page</h4>
		<a href="{% url 'login' %}">Login Here</a>

	{% endif %}

{% endblock %}

