{% extends 'events/base.html' %}

{% block content %}
	{% if user.is_authenticated %}
		<center>
			<h4>Add Venue</h4>
		
		<br><br>
		{% if submitted %}

			Your Venue Was Submitted Successfully!

		{% else %}

			<form action="" method=POST>
				{% csrf_token %}

				{{ form.as_p }}

				<input type="submit" value="Submit" class="btn btn-secondary">
			</form>

		{% endif %}

		</center>

	{% else %}
	
		<h4>Sorry! You must be logged in to view this page</h4>
		<a href="{% url 'login' %}">Login Here</a>

	{% endif %}

{% endblock %}

