{% extends 'events/adminbase.html' %}

{% block content %}

	 <style>

	 	:root {
		    --bs-primary: #f05537;
		    --bs-orange: #d1410c; /* Define orange color variable */
		}

		.navbar-brand {
			padding-left: 90px;
			font-weight: bold;
			color: var(--bs-primary) !important;
		}

		.navbar-brand:hover {
		    color: var(--bs-orange) !important;
		}

		.footer-brand {
		    padding-top: 20px;
		    padding-bottom: 25px;
		}

        /* Custom styles for buttons */
        .custom-btn {
            color: white;
        }

        .custom-btn:hover {
            color: white;
        }

        /* Custom styles for links */
        .custom-link {
            color: white;
            text-decoration: none;
        }

        .custom-link:hover {
        	color: white;
            text-decoration: none;
        }

        /* Custom styles for sidebar */
        .nav-pills {
            background-color: #292929;
            width: 245px;
            height: 645px;
            overflow-y: auto; /* Add scrollbar if content overflows vertically */
            overflow-x: hidden; /* Hide horizontal scrollbar */
        }

        .custom-heading {
        	padding-top: 20px;
        	padding-bottom: 10px;
        	color: #f05537;
        }

        .custom-heading1 {
        	padding-top: 10px;
        }

        .count-container {
	        display: flex; /* Use flexbox */
	        flex-wrap: wrap; /* Allow wrapping if content exceeds width */
	        gap: 50px; /* Gap between count boxes */
	        padding-left: 50px;
	        padding-bottom: 15px;
	    }

	    .count-box {
	        padding: 10px; /* Padding around the count */
	        border-radius: 5px; /* Rounded corners */
	        font-size: 16px;
	        width: 250px;
	        height: 100px;
	        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	    }

    </style>
	
	<div class="d-flex align-items-start">
	  <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
	  	<div class="footer-brand">
	        <a class="navbar-brand" href="{% url 'admin_approval' %}">myclub</a>
	        <!-- Insert brand-related content here -->
	    </div>
	    <button class="nav-link active custom-btn" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</button>
	    <button class="nav-link custom-btn" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Event</button>
	    <button class="nav-link custom-btn" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Venue</button>
	    <button class="nav-link custom-btn" data-bs-toggle="pill" type="button"><a class="custom-link" href="{% url 'logout' %}">Logout</a></button>
	  </div>
	  <div class="tab-content" id="v-pills-tabContent">
	    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
	    	<h4 class="custom-heading"><strong>Admin Dashboard</strong></h4> 
	    	<br>
	    	<div class="count-container">
	    		<!-- User Count -->
		        <div class="count-box">
		            <h6 class="custom-heading1"><strong>Club Users</strong></h6> <center>{{ user_count }}</center>
		        </div>
		        <!-- Event Count -->
		        <div class="count-box">
		            <h6 class="custom-heading1"><strong>Events Count</strong></h6> <center>{{ event_count }}</center>
		        </div>
		        <!-- Venue Count -->
		        <div class="count-box">
		            <h6 class="custom-heading1"><strong>Venues Count</strong></h6> <center>{{ venue_count }}</center>
		        </div>
		    </div>
		    <h5 class="custom-heading"><strong>Users</strong></h5> 
			<div style="max-height: 320px; overflow-y: auto;"> <!-- Adjust max-height as needed -->
		        <table class="table table-hover">
		            <thead>
		                <tr>
		                    <th>Username</th>
		                    <th>First Name</th>
		                    <th>Last Name</th>
		                    <th>Email</th>
		                    <th>Action</th>
		                </tr>
		            </thead>
		            <tbody>
		                {% for user in users %}
		                {% if not user.is_superuser %}
		                <tr>
		                    <td>{{ user.username }}</td>
		                    <td>{{ user.first_name }}</td>
		                    <td>{{ user.last_name }}</td>
		                    <td>{{ user.email }}</td>
		                    <td>
		                        <a href="{% url 'delete_user' user.id %}" class="btn btn-outline-danger btn-sm"><i class="bi bi-trash3"></i></a>
		                    </td>
		                </tr>
		                {% endif %}
		                {% endfor %}
		            </tbody>
		        </table>
		    </div>
	    </div>
	    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
	    	<h4 class="custom-heading"><strong>Event</strong></h4>
	    	{% if user.is_superuser %}
	    		<!-- Modal -->
				<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog modal-dialog-scrollable">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLabel">Update Event</h5>
				        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				      </div>
				      <div class="modal-body">
				        <form action="{% url 'admin_approval' %}" class="custom-form" method=POST>
							{% csrf_token %}
							{{ event_form.as_p }}			
							<input type="hidden" name="event_id" id="event_id" value="">	
							<button type="submit" class="btn btn-primary">Update</button>
						</form>
				      </div>
				    </div>
				  </div>
				</div>

				<!-- Add JavaScript to populate event ID in the hidden input field when the "Update" button is clicked -->
				<script>
				    $(document).ready(function() {
				        $('.btn-update-event').click(function() {
				            var event_id = $(this).data('event-id');

				            // Make an AJAX request to fetch event details
				            $.ajax({
				                url: '/get_event_details/',
				                type: 'GET',
				                data: {
				                    'event_id': event_id
				                },
				                success: function(response) {
				                    console.log(response); // Log the response to see if data is received
				                    // Populate form fields with event details
				                    $('#exampleModal').find('#id_name').val(response.name);
				                    $('#exampleModal').find('#id_event_date').val(response.event_date);
				                    $('#exampleModal').find('#id_registration_fee').val(response.registration_fee);
				                    $('#exampleModal').find('#id_description').val(response.description);

				                    // Update the hidden input field with the event ID
				                    $('#exampleModal').find('#event_id').val(event_id);
				                },
				                error: function(xhr, status, error) {
				                    // Handle error
				                    console.error(xhr.responseText);
				                }
				            });
				        });
				    });
				</script>

				<div style="max-height: 530px; overflow-y: auto;"> <!-- Adjust max-height as needed -->
				    <table class="table table-hover">
				        <thead>
				            <tr>
				                <th>Event</th>
				                <th>Venue</th>
				                <th>Website</th>
				                <th>Date</th>
				                <th>Host</th>
				                <th>Fee</th>
				                <th>Actions</th>
				            </tr>
				        </thead>
				        <tbody>
				            {% for event in event_list %}
				            <tr>
				                <td>{{ event }}</td>
				                <td>{{ event.venue.name }}</td>
				                <td>{{ event.venue.web }}</td>
				                <td>{{ event.event_date }}</td>
				                <td>{{ event.manager }}</td>
				                <td>{{ event.registration_fee }}</td>
				                <td>
				                	<a href="#" class="btn btn-outline-success btn-sm btn-update-event" data-bs-toggle="modal" data-bs-target="#exampleModal" data-event-id="{{ event.id }}"><i class="bi bi-pencil-square"></i></a>
				                    <a href="{% url 'delete-event' event.id %}" class="btn btn-outline-danger btn-sm"><i class="bi bi-trash3"></i></a>
				                </td>
				            </tr>
				            {% endfor %}
				        </tbody>
				    </table>
				</div>
			{% endif %}
	    </div>
	    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
	    	<h4 class="custom-heading"><strong>Venue</strong></h4>
	    	{% if user.is_superuser %}
	    		<!-- Modal -->
				<div class="modal fade" id="updateVenueModal" tabindex="-1" aria-labelledby="updateVenueModalLabel" aria-hidden="true">
				  <div class="modal-dialog modal-dialog-scrollable">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="updateVenueModalLabel">Update Venue</h5>
				        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				      </div>
				      <div class="modal-body">
				        <form id="updateVenueForm" action="{% url 'admin_approval' %}" method="POST" enctype="multipart/form-data">
				          {% csrf_token %}
				          {{ venue_form.as_p }}
				          <input type="hidden" name="venue_id" id="venue_id" value="">
				          <button type="submit" class="btn btn-primary">Update</button>
				        </form>
				      </div>
				    </div>
				  </div>
				</div>

				<script>
				$(document).ready(function() {
				    $('.btn-update-venue').click(function() {
				        var venue_id = $(this).data('venue-id');

				        // Make an AJAX request to fetch venue details
				        $.ajax({
				            url: '/get_venue_details/',
				            type: 'GET',
				            data: {
				                'venue_id': venue_id
				            },
				            success: function(response) {
				                console.log(response); // Log the response to see if data is received
				                // Populate form fields with venue details
				                $('#updateVenueModal').find('#id_name').val(response.name);
				                $('#updateVenueModal').find('#id_address').val(response.address);
				                $('#updateVenueModal').find('#id_zip_code').val(response.zip_code);
				                $('#updateVenueModal').find('#id_phone').val(response.phone);
				                $('#updateVenueModal').find('#id_web').val(response.web);
				                $('#updateVenueModal').find('#id_email_address').val(response.email_address);
				                $('#updateVenueModal').find('#id_venue_description').val(response.description);
				                $('#updateVenueModal').find('#venue_id').val(venue_id);
				            },
				            error: function(xhr, status, error) {
				                // Handle error
				                console.error(xhr.responseText);
				            }
				        });
				    });
				});
				</script>

				<div style="max-height: 530px; overflow-y: auto;"> <!-- Adjust max-height as needed -->
		    		<table class="table table-hover">
					    <thead>
					        <tr>
					            <th>Venue</th>
					            <th>Address</th>
					            <th>Zip</th>
					            <th>Phone</th>
					            <th>Email</th>
					            <th>Website</th>
					            <th>Actions</th>
					        </tr>
					    </thead>
					    <tbody>
					        {% for venue in venue_list %}
					        <tr>
					            <td>{{ venue }}</td>
					            <td>{{ venue.address }}</td>
					            <td>{{ venue.zip_code }}</td>
					            <td>{{ venue.phone }}</td>
					            <td>{{ venue.email_address }}</td>
					            <td><a href="{{ venue.web }}">{{ venue.web }}</a></td>
					            <td>
					         		<!-- Modal Trigger Button -->
									<a href="#" class="btn btn-outline-success btn-sm btn-update-venue" data-bs-toggle="modal" data-bs-target="#updateVenueModal" data-venue-id="{{ venue.id }}"><i class="bi bi-pencil-square"></i></a>
									<a href="{% url 'delete-venue' venue.id %}" class="btn btn-outline-danger btn-sm"><i class="bi bi-trash3"></i></a>
								</td>
					        </tr>
					        {% endfor %}
					    </tbody>
					</table>
				</div>
	    	{% endif %}
	    </div>
	  </div>
	</div>
			
{% endblock %}

