{% extends 'events/base.html' %}

{% block content %}
	
	<nav class="custom-nav">
		<div>
			<h4>Events</h4>
		</div>
		<div>
			<form class="d-flex" method=POST action="{% url 'search_events' %}">
		        {% csrf_token %}

		        <input class="form-control me-2 small-search-input" type="search" placeholder="Search events" aria-label="Search" name="searched">
		        <button class="btn btn-outline-dark btn-light btn-sm btn-custom" type="submit">Search</button>
		      </form>	
		</div>
	</nav>

	<br>
	

	<div class="row row-cols-1 row-cols-md-3 g-4">
	{% for event in events %}
	  <div class="col">
	    <div class="card h-100">
	    {% if event.venue.venue_image %}
	      <a href="{% url 'show-event' event.id %}"><img src="{{ event.venue.venue_image.url }}" class="card-img-top" alt="..." style="height: 250px; width: 100%;"></a>
	    {% endif %}
	      <div class="card-body">
	        <h5 class="card-title">{{event}}</h5>
	        <p class="card-text">
	        	<ul>
		    		{% if event.event_date %}
						<li>Date: {{ event.event_date }}</li>
					{% endif %}

					{% if event.venue %}
						<li>Venue: <a href="{% url 'show-venue' event.venue.id %}" style="text-decoration: none;">{{ event.venue }}</a></li>
					{% endif %}

					{% if event.venue.web %}
						<li>Website: {{ event.venue.web }}</li>
					{% endif %}

					{% if event.manager %}
						<li>Event Host: {{ event.manager }}</li>
					{% endif %}

					{% if event.description %}
						<li>Description: {{ event.description|linebreaksbr|truncatechars:50 }}</li>
					{% endif %}
				</ul>
	        </p>
	      </div>
	    </div>
	  </div> 
	  {% endfor%}
	</div>	

	<br><br><br>
	<hr>

	<nav aria-label="Page navigation example">
		<ul class="pagination justify-content-center">
	    
			{% if events.has_previous %}
				<li class="page-item">
					<a class="page-link" href="?page=1">&laquo First</a>
				</li>
				<li class="page-item">
					<a class="page-link" href="?page={{ events.previous_page_number }}">Previous</a>
				</li>

			{% endif %}

			{% for i in nums %}
				<li class="page-item">
					<a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
				</li>
			{% endfor %}

			<!--
			<li class="page-item disabled">
				<a href="#" class="page-link">Page {{ venues.number }} of {{ venues.paginator.num_pages }}</a>
			</li>-->

			{% if events.has_next %}
				<li class="page-item">
					<a class="page-link" href="?page={{ events.next_page_number }}">next</a>
				</li>
				<li class="page-item">
					<a class="page-link" href="?page={{ events.paginator.num_pages }}">Last &raquo</a>
				</li>	

			{% endif %}

		</ul>
	</nav>
	
{% endblock %}

