{% extends 'events/base.html' %}

{% block content %}

    <style>
        .custom-container {
            max-width: 320px; /* Adjust the width as needed */
        }

        .custom-card {
            border-radius: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.2s, box-shadow 0.2s;
        }

        .custom-card:hover {
            transform: scale(1.02);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }

        .custom-card-header {
            background-color: white;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }

        .custom-card-body {
            padding: 15px;
        }

        .custom-card-title {
            font-size: 1.25rem;
            margin-bottom: 0.5rem;
        }

        .custom-list {
            padding-left: 20px;
        }

        .custom-list li {
            margin-bottom: 5px;
        }
    </style>

    <h5 class="custom-head">Events for {{ year }}/{{ month }}/{{ day }}</h5>

    {% for event in event_list %}
    <a href="{% url 'show-event' event.id %}" style="text-decoration: none; color: black;">
        <div class="card custom-card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 custom-container">
                        {% if event.venue.venue_image %}
                            <img src="{{ event.venue.venue_image.url }}" height=200 width=300 style="max-width: 100%;">
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        <p class="card-text">
                            <h5>{{ event.name }}</h5>
                            <ul>
                                {% if event.venue %}
                                    <li>Venue: {{ event.venue }}</li>
                                {% endif %}

                                {% if event.venue.web %}
                                    <li>Website: {{ event.venue.web }}</li>
                                {% endif %}

                                {% if event.manager %}
                                    <li>Event Host: {{ event.manager }}</li>
                                {% endif %}

                                {% if event.registration_fee %}
                                    <li>Registration Fee: {{ event.registration_fee }}</li>
                                {% endif %}
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </a>
        <br>
    {% endfor %}
    <br>

{% endblock %}
