{% extends 'events/base.html' %}

{% block content %}
	<div class="calendar-container">
        <div class="row">
            <div class="col-md-4">
                <center>
                    {{ prev_month_calendar|safe }}
                </center>
            </div>
            <div class="col-md-4">
                <center>
                    {{ current_month_calendar|safe }}
                </center>
            </div>
            <div class="col-md-4">
                <center>
                    {{ next_month_calendar|safe }}
                </center>
            </div>
        </div>
    </div>

	<h4>Events for the Month</h4>
	
	{% if event_list %}
		<div class="row row-cols-1 row-cols-md-3 g-4">
		{% for event in event_list %}
		  <div class="col">
		    <div class="card h-100">
		    {% if event.venue.venue_image %}
		      <a href="{% url 'show-event' event.id %}"><img src="{{ event.venue.venue_image.url }}" class="card-img-top" alt="..." style="height: 250px; width: 100%;"></a>
		    {% endif %}
		      <div class="card-body">
		        <h5 class="card-title">{{event}}</h5>
		        <p class="card-text">
		        	<ul>
			    		{% if event.event_date %}
							<li>Date: {{ event.event_date }}</li>
						{% endif %}

						{% if event.venue %}
							<li>Venue: <a href="{% url 'show-venue' event.venue.id %}" style="text-decoration: none;">{{ event.venue }}</a></li>
						{% endif %}

						{% if event.venue.web %}
							<li>Website: {{ event.venue.web }}</li>
						{% endif %}

						{% if event.manager %}
							<li>Event Host: {{ event.manager }}</li>
						{% endif %}

						{% if event.description %}
							<li>Description: {{ event.description|linebreaksbr|truncatechars:50 }}</li>
						{% endif %}
					</ul>
		        </p>
		      </div>
		    </div>
		  </div> 
		  {% endfor%}
		</div>	

	
	{% else %}
		Sorry! No event for this month
	
	{% endif %}

	<br><br><br>
	<hr>
	<center>
	Copyright (c) {{ current_year }}
	<hr>
	</center>

{% endblock %}

