{% extends 'events/base.html' %}

{% block content %}

    <style>
        .custom-card {
            border-radius: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.2s, box-shadow 0.2s;
        }

        .custom-card:hover {
            transform: scale(1.02);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }

        .custom-card-header {
            background-color: white;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }

        .custom-card-body {
            padding: 15px;
        }

        .custom-card-title {
            font-size: 1.25rem;
            margin-bottom: 0.5rem;
        }

        .custom-list {
            padding-left: 20px;
        }

        .custom-list li {
            margin-bottom: 5px;
        }
    </style>

    <nav class="custom-nav">
        <div>
            <h4>Events Created</h4>
        </div>
        <div>
            <a class="d-flex" href="{% url 'add-event' %}" style="text-decoration: none;">
                <button class="btn btn-sm btn-custom">Create Event</button>
            </a>    
        </div>
    </nav>

    <br>

    {% if not events %}
        <p>You haven't created any events. Create your event to see it listed here.</p>
    {% else %}
        {% for event in events %}                
            <div class="card custom-card">
                <div class="card-header custom-card-header d-flex justify-content-between align-items-center">
                    <h5 class="custom-card-title">{{ event }}</h5>
                    <div>
                        <a href="{% url 'update-event' event.id %}" class="btn btn-outline-success btn-sm"><i class="bi bi-pencil-square"></i></a> 
                        <a href="{% url 'delete-event' event.id %}" class="btn btn-outline-danger btn-sm me-2"><i class="bi bi-trash3"></i></a> 
                    </div>
                </div>
                <div class="card-body custom-card-body">
                    <h6 class="card-title">Venue: {{ event.venue }}</h6>
                    <p class="card-text">
                        <ul class="list-unstyled custom-list">
                            {% if event.event_date %}
                                <li>Date: {{ event.event_date }}</li>
                            {% endif %}

                            {% if event.venue.web %}
                                <li>Website: {{ event.venue.web }}</li>
                            {% endif %}

                            {% if event.manager %}
                                <li>Event Host: {{ event.manager }}</li>
                            {% endif %}

                            {% if event.registration_fee %}
                                <li>Registration Fee: {{ event.registration_fee }}</li>
                            {% endif %}

                            {% if event.description %}
                                <li>Description: {{ event.description }}</li>
                            {% endif %}
                        </ul>
                    </p>

                    {% if event.attendees.all %}
                        <p>Special Attendees:</p>
                        <ul class="list-unstyled custom-list">
                            {% for user in event.attendees.all %}
                                <li>{{ user }}</li> 
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>

            <br><br>
        {% endfor %}    
    {% endif %}

    <br>
    <hr>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if events.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">&laquo First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ events.previous_page_number }}">Previous</a>
                </li>
            {% endif %}

            {% for i in nums %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                </li>
            {% endfor %}

            {% if events.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ events.next_page_number }}">next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ events.paginator.num_pages }}">Last &raquo</a>
                </li>    
            {% endif %}
        </ul>
    </nav>

{% endblock %}
