{% extends 'events/base.html' %}

{% block content %}

	<nav class="custom-nav">
		<div>
			<h4>My Events</h4>
		</div>
		<div>
			<a class="d-flex" href="{% url 'add-event' %}" style="text-decoration: none;">
	          	<button class="btn btn-sm btn-custom">Create Event</button>
	        </a>	
		</div>
	</nav>
<!--
	<nav class="navbar navbar-expand-lg navbar-light bg-white">
	  
	    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

	        <li class="nav-item">
	          <a class="nav-link" href="{% url 'my_events' %}"><h4>My Events</h4></a>
	        </li>

	      </ul>
	      <a class="d-flex" href="{% url 'add-event' %}" style="text-decoration: none;">
          	<button class="btn btn-sm btn-custom">Create Event</button>
          </a>
	  	</div>
	</nav>-->

	<br>

	{% for event in events %}
		{% if user.is_authenticated %}
		  	{% if user == event.manager %}
				
				<div class="card">
				  <div class="card-header">
				    <h5>{{event}}</h5>
				  </div>
				  <div class="card-body">
				    <h6 class="card-title">Venue: {{ event.venue }}</h6>
				    <p class="card-text">
				    	<ul>
				    		{% if event.event_date %}
								<li>Date: {{ event.event_date }}</li>
							{% endif %}

							{% if event.venue.web %}
								<li>Website: {{ event.venue.web }}</li>
							{% endif %}

							{% if event.manager %}
								<li>Event Host: {{ event.manager }}</li>
							{% endif %}

							{% if event.description %}
								<li>Description: {{ event.description }}</li>
							{% endif %}
						</ul>
					</p>

							{% if event.attendees.all %}
								<p>Special Attendees:</p>
								<ul>
								{% for user in event.attendees.all %}
										<li>{{ user }}</li> 
								{% endfor%}
								</ul>
							{% endif %}
				  </div>
				
				  <div class="card-footer text-muted">
					<a href="{% url 'update-event' event.id %}" class="btn btn-outline-secondary btn-sm">Update Event</a> 
				  	<a href="{% url 'delete-event' event.id %}" class="btn btn-outline-danger btn-sm">Delete Event</a> 
				  </div>

				</div>

				<br><br>

		 	{% endif %}
		{% endif %}
	{% endfor%}	

	<br><br><br>
	<hr>

	<nav aria-label="Page navigation example">
		<ul class="pagination justify-content-center">
	    
			{% if events.has_previous %}
				<li class="page-item">
					<a class="page-link" href="?page=1">&laquo First</a>
				</li>
				<li class="page-item">
					<a class="page-link" href="?page={{ events.previous_page_number }}">Previous</a>
				</li>

			{% endif %}

			{% for i in nums %}
				<li class="page-item">
					<a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
				</li>
			{% endfor %}

			<!--
			<li class="page-item disabled">
				<a href="#" class="page-link">Page {{ venues.number }} of {{ venues.paginator.num_pages }}</a>
			</li>-->

			{% if events.has_next %}
				<li class="page-item">
					<a class="page-link" href="?page={{ events.next_page_number }}">next</a>
				</li>
				<li class="page-item">
					<a class="page-link" href="?page={{ events.paginator.num_pages }}">Last &raquo</a>
				</li>	

			{% endif %}

		</ul>
	</nav>
	
{% endblock %}

