<style>

  :root {
    --bs-primary: #f05537;
    --bs-orange: #d1410c; /* Define orange color variable */
  }

  .navbar-brand {
    padding-left: 20px;
    font-weight: bold;
    color: var(--bs-primary) !important;
  }

  .custom-link:hover {
    color: var(--bs-orange) !important; /* Change color to blue on hover */
  }

  .navbar-nav .nav-item a.nav-link {
    font-size: 16px;
    font-weight: bold;
    color: #343a40;
    padding-left: 20px; /* Adjust the left padding as needed */
    padding-right: 20px; /* Adjust the right padding as needed */
  }

  .navbar-nav .nav-item a.nav-link:hover {
    color: var(--bs-primary) !important;
  }

  .custom-link {
    font-size: 13.5px;
    color: #343a40;
    text-decoration: none;
  }

  .custom-pad {
    padding-right: 5px;
    padding-left: 10px;
  }

  .navbar-brand:hover {
    color: var(--bs-orange) !important;
  }
  
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top text-center shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">myclub</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">

        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'list-events' %}">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'my_events' %}">My Event</a>
          </li>

        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'list-events' %}">Events</a>
          </li>

        {% endif %}

        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'list-venues' %}">Venue</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'my_venues' %}">My Venue</a>
          </li>
    
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'list-venues' %}">Venue</a>
          </li>

        {% endif %}

      </ul>
    </div>


    <div class="ms-auto">
      <ul class="navbar-nav">
        {% if user.is_authenticated %}

          <li class="nav-item">
            <a class="custom-link custom-pad" href="{% url 'logout' %}">Logout</a>
          </li>

        {% else %}
          <li class="nav-item">
            <a class="custom-link" href="{% url 'register_user' %}">Sign up</a>
          </li>
          
          <li class="nav-item">
            <a class="custom-link custom-pad" href="{% url 'login' %}">Log In</a> 
          </li>
          
        {% endif %}
      </ul>
    </div>

  </div>
</nav>