 {% extends 'events/base.html' %}

{% block content %}
	
	{% if searched %}

	<h4>You Searched for {{searched}}</h4>
	<br>
	
	<div class="row row-cols-1 row-cols-md-3 g-4">
	{% for event in events %}
	  <div class="col">
	    <div class="card h-100">
	    {% if event.venue.venue_image %}
	      <img src="{{ event.venue.venue_image.url }}" class="card-img-top" alt="..." style="height: 250px; width: 100%;">
	    {% endif %}
	      <div class="card-body">
	        <h5 class="card-title">{{event}}</h5>
	        <p class="card-text">
	        	<ul>
		    		{% if event.event_date %}
						<li>Date: {{ event.event_date }}</li>
					{% endif %}

					{% if event.venue %}
						<li>Venue: <a href="{% url 'show-venue' event.venue.id %}" style="text-decoration: none;">{{ event.venue }}</a></li>
					{% endif %}

					{% if event.venue.web %}
						<li>Website: {{ event.venue.web }}</li>
					{% endif %}

					{% if event.manager %}
						<li>Event Host: {{ event.manager }}</li>
					{% endif %}

					{% if event.description %}
						<li>Description: {{ event.description }}</li>
					{% endif %}
				</ul>
	        </p>
	      </div>
	    </div>
	  </div> 
	  {% endfor%}
	</div>	

	<br><br>

	{% else  %}
		<h4>Hey! You Forgot To Search For A Event</h4>
	
	{% endif %}


{% endblock %}

