{% extends 'events/base.html' %}

{% block content %}
    <br>
    {% if searched %}
        {% if venues %}
            <div class="alert alert-success" id="myAlert" role="alert">
                You Searched for {{searched}}
            </div>

            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    setTimeout(function () {
                        var myAlert = document.getElementById('myAlert');
                        if (myAlert) {
                            myAlert.style.display = 'none';
                        }
                    }, 1000); // 2000 milliseconds = 2 seconds
                });
            </script>
            <br>

            {% for venue in venues %}
                <style>
                    .custom-container {
                        max-width: 320px; /* Adjust the width as needed */
                    }
                </style>

                <div class="card custom-card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 custom-container">
                                {% if venue.venue_image %}
                                    <img src="{{ venue.venue_image.url }}" height=200 width=300 style="max-width: 100%;">
                                {% endif %}
                            </div>
                            <div class="col-md-6">
                                <p class="card-text">
                                    <a href="{% url 'show-venue' venue.id %}" style="text-decoration: none;"><h5>{{ venue }}</h5></a>
                                    <ul>
                                        {% if venue.address %}
                                            <li>Address: {{ venue.address }}</li>
                                        {% endif %}

                                        {% if venue.zip_code %}
                                            <li>Zip Code: {{ venue.zip_code }}</li>
                                        {% endif %}

                                        {% if venue.phone %}
                                            <li>Phone: {{ venue.phone }}</li>
                                        {% endif %}

                                        {% if venue.email_address %}
                                            <li>Email: {{ venue.email_address }}</li>
                                        {% endif %}

                                        {% if venue.web %}
                                            <li>Website: <a href="{{ venue.web }}">{{ venue.web }}</a></li>
                                        {% endif %}
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            {% endfor %}
            <br>
        {% else %}
            <div class="alert alert-danger" id="myAlert" role="alert">
                No {{searched}} related venue found!
            </div>
            <br><br>
            <br><br>

            <script>
                // JavaScript code to redirect to the my_events page after 2 seconds
                setTimeout(function() {
                    window.location.href = "{% url 'list-venues' %}";
                }, 1000); // Redirect after 2 seconds (adjust as needed)
            </script>
        {% endif %}
    {% else %}
        <div class="alert alert-success" id="myAlert" role="alert">
            Hey! You forgot to search for a venue!
        </div>
        <br><br>
        <br><br>

        <script>
            // JavaScript code to redirect to the my_events page after 2 seconds
            setTimeout(function() {
                window.location.href = "{% url 'list-venues' %}";
            }, 1000); // Redirect after 2 seconds (adjust as needed)
        </script>
    {% endif %}
{% endblock %}
