{% extends 'events/base.html' %}

{% block content %}
		{% if searched %}

			<h4>You Searched for {{searched}}</h4>
			<br>

			{% for venue in venues %}
				<div class="card">
				  <div class="card-header">
				    <h5>{{ venue }}</h5>
				  </div>
				  <div class="card-body">
				  	<p class="card-text">
				    	<ul>	
				    		{% if venue.address %}
					    		<li>Address: {{ venue.address }}</li>
					    	{% endif %}

					    	{% if venue.zip_code %}
								<li>Zip Code: {{ venue.zip_code }}</li>
							{% endif %}

							{% if venue.phone %}
								<li>Phone: {{ venue.phone }}</li>
							{% endif %}

							{% if venue.email_address %}
								<li>Email: {{ venue.email_address }}</li>
							{% endif %}

							{% if venue.web %}
								<li>Website: <a href="{{ venue.web }}">{{ venue.web }}</a></li>
							{% endif %}

							{% if venue_owner %}
								<li>Owner: {{ venue_owner }}</li>
							{% endif %}

						</ul>
						</p>
				  </div>
				</div>

			{% endfor %}

		{% else  %}
			<h4>Hey! You Forgot To Search For A Venue</h4>

		{% endif %}


{% endblock %}

