{% extends 'events/base.html' %}

{% block content %}
	
<div class="venue-details">
    {% if venue.venue_image %}
        <div class="venue-image-container">
            <img src="{{ venue.venue_image.url }}" alt="{{ venue.name }} Image" class="venue-image">
        </div>
    {% endif %}

    <h3>{{ venue }}</h3>

    <div class="flex-container">
	    <div class="description">
	    {% if venue.venue_description %}
	        <p>{{ venue.venue_description }}</p>
	    {% endif %}
	    </div>

	    <div class="card car">
	    	<ul class="list-group list-group-flush">
		        {% if venue.address %}
		            <li class="list-group-item"><strong>Address:</strong> {{ venue.address }}</li>
		        {% endif %}

		        {% if venue.zip_code %}
		            <li class="list-group-item"><strong>Zip Code:</strong> {{ venue.zip_code }}</li>
		        {% endif %}

		        {% if venue.phone %}
		            <li class="list-group-item"><strong>Phone:</strong> {{ venue.phone }}</li>
		        {% endif %}

		        {% if venue.email_address %}
		            <li class="list-group-item"><strong>Email:</strong> {{ venue.email_address }}</li>
		        {% endif %}

		        {% if venue.web %}
		            <li class="list-group-item"><strong>Website:</strong> <a href="{{ venue.web }}" target="_blank" style="text-decoration: none;">{{ venue.web }}</a></li>
		        {% endif %}
		        
		        {% if venue_owner %}
		            <li class="list-group-item"><strong>Owner:</strong> {{ venue_owner }}</li>
		        {% endif %}
		    </ul>  
		</div>
	</div>
</div>
<br><br><br>

{% endblock %}
