{% extends 'events/base.html' %}

{% block content %}
	{% if user.is_authenticated %}
		{% if user.id == venue.owner %}
		<br>
			<div class="form-container">
				<div class="heading-container">
		            <h3>Update Venue</h3>
		        </div>
				<hr>
				<form action="" class="custom-form" method=POST enctype="multipart/form-data">
					{% csrf_token %}

					{{ form.as_p }}				
					<input type="submit" value="Update" class="btn btn-custom">
				</form>
					
			</div>
			<br>

		{% else %}
			<h4>Access Denied</h4>
			<p>Only the venue owner can update this venue</p>

			Logged In User: {{ user.id }}
			<br>
			Venue Owner: {{ venue.owner }}
			<br>
		{% endif %}

	{% else %}
	
		<h4>Sorry! You must be logged in to view this page</h4>
		<a href="{% url 'login' %}">Login Here</a>

	{% endif %}
		
{% endblock %}

