{% extends 'events/base.html' %}

{% block content %}
	{% if user.is_authenticated %}
		{% if user == event.manager %}
		<br>
		<div class="form-container">
			<div class="heading-container">
	            <h3>Update Event</h3>
	        </div>
			<hr>
			<form action="" class="custom-form" method=POST>
				{% csrf_token %}

				{{ form.as_p }}				
				<input type="submit" value="Update" class="btn btn-custom">
			</form>
				
		</div>
		<br>

		{% else %}
			<h4>Access Denied</h4>
			<p>Only the event's manager can update this event</p>

			Logged In User: {{ user }}
			<br>
			Event Manager: {{ event.manager }}
			<br>
		{% endif %}
		
	{% else %}
		
		<h4>Sorry! You must be logged in to view this page</h4>
		<a href="{% url 'login' %}">Login Here</a>

	{% endif %}

{% endblock %}

