{% extends 'authenticate/base.html' %}

{% block content %}
    <style>
        /* Add your custom styles here */
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .form-container {
            max-width: 500px;
            margin: auto;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-label {
            font-weight: bold;
        }

        .form-control {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        .btn-secondary {
            background-color: #6c757d;
            color: #fff;
            border: none;
            width: 100%; /* Set width to 100% */
            padding: 10px 20px;
            border-radius: 4px;
            cursor: pointer;
        }

        .heading-container {
            text-align: center;
            margin-bottom: 20px; /* Add margin to the heading */
        }

        .signup-link {
            text-align: center;
            margin-top: 10px; /* Add margin to the top */
        }
    </style>

    <div class="form-container">
        <div class="heading-container">
            <h3>Log In</h3>
        </div>
        <hr>
        <form action="" method="POST">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="exampleInputEmail1" class="form-label">Username</label>
                <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
            </div>
            
            <div class="form-group">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" name="password">
            </div>
            
            <input type="submit" value="Submit" class="btn btn-secondary">
        </form>

        <hr>
        <div class="signup-link">
            <p>Don't have an account? <a href="{% url 'register_user' %}">Sign Up </a></p>
        </div>
    </div>
{% endblock %}
