{% extends 'authenticate/base.html' %}

{% block content %}
    <style>        
        .form-container {
            max-width: 500px;
            margin-top: 50px; /* Adjust top margin as needed */
            margin-left: 20px; /* Adjust left margin to move the form to the left */
            padding: 20px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-label {
            font-weight: bold;
        }

        .form-control {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        .btn-secondary {
            background-color: #d1410c;
            border: none;
            width: 100%; /* Set width to 100% */
            padding: 10px 20px;
            border-radius: 4px;
            cursor: pointer;
        }

        .btn-secondary:hover {
            background: #f05537
        }

        .heading-container {
            text-align: center;
            margin-bottom: 20px; /* Add margin to the heading */
        }

        .signup-link {
            text-align: center;
            margin-top: 10px; /* Add margin to the top */
        }
    </style>

    <div class="form-container">
        <div>
            <h3><strong>Log In</strong></h3>
        </div>
        <br>
        <form action="" method="POST">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="exampleInputEmail1" class="form-label">Username</label>
                <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
            </div>
            
            <div class="form-group">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" name="password">
            </div>
            
            <input type="submit" value="Log in" class="btn btn-secondary">
        </form>

        <br>

        <div class="signup-link">
            <a href="{% url 'forgot_password' %}" style="text-decoration: none;">Forgot Password?</a>
        </div>

        <hr>
        <div class="signup-link">
            <p>Don't have an account? <a href="{% url 'register_user' %}" style="text-decoration: none;">Sign Up</a></p>
        </div>
    </div>

    <br>
{% endblock %}
