{% extends 'authenticate/base.html' %}

{% block content %}
    <style>
        .form-container {
            max-width: 500px;
            margin-top: 27px; /* Adjust top margin as needed */
            margin-left: 20px; /* Adjust left margin to move the form to the left */
            padding: 20px;
        }
    </style>

    <div class="form-container">
        <h3><strong>Password reset sent</strong></h3>
        <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
        <br>
        If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
    </div>

    <br><br><br><br><br>
    <br><br><br><br><br>
{% endblock %}
