{% extends 'authenticate/base.html' %}

{% block content %}
    <style>        
        .form-container {
            max-width: 500px;
            margin-top: 30px; /* Adjust top margin as needed */
            margin-left: 20px; /* Adjust left margin to move the form to the left */
            padding: 20px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-label {
            font-weight: bold;
        }

        .form-control {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        .btn-secondary {
            background-color: #d1410c;
            border: none;
            width: 100%; /* Set width to 100% */
            padding: 10px 20px;
            border-radius: 4px;
            cursor: pointer;
        }

        .btn-secondary:hover {
            background: #f05537
        }

    </style>

    <div class="form-container">
        <div>
            <h3><strong>Reset Password</strong></h3>
        </div>
        <br>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_new_password1" class="form-label">New password</label>
                <input type="password" name="new_password1" autocomplete="new-password" required aria-describedby="id_new_password1_helptext" id="id_new_password1" class="form-control">
            </div>

            <span class="helptext custom-helptext" id="id_new_password1_helptext"><ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul></span>
            
            <div class="form-group">
                <label for="id_new_password2" class="form-label">New password confirmation</label>
                <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" class="form-control">
            </div>

            <button type="submit" class="btn btn-secondary">Reset Password</button>
        </form>
    </div>

    <br><br>
{% endblock %}