{% extends 'authenticate/base.html' %}

{% block content %}
    <style>
        .form-container {
            max-width: 500px;
            margin-top: 27px; /* Adjust top margin as needed */
            margin-left: 20px; /* Adjust left margin to move the form to the left */
            padding: 20px;
        }
    </style>

    <div class="form-container">
        <h3><strong>Password Reset Complete</strong></h3>
        <p>Your password has been successfully reset. You can now <a href="{% url 'login' %}" style="text-decoration: none;">login</a> with your new password.</p>
    </div>

    <br><br><br><br><br>
    <br><br><br><br>
{% endblock %}
