{% extends 'authenticate/base.html' %}

{% block content %}
{% if form.errors %}
	
	<div class="alert alert-danger" id="myAlert" role="alert">
	  There was an error with your form!
	</div>
            
  <script type="text/javascript">
	    // Wait for the DOM to be fully loaded
	    document.addEventListener("DOMContentLoaded", function() {
	        // Get the alert element
	        var myAlert = document.getElementById('myAlert');

	        // Set a timeout to hide the alert after 2000 milliseconds (2 seconds)
	        setTimeout(function() {
	            myAlert.style.display = 'none';
	        }, 2000);
	    });
	</script>
{% endif %}

	<div class="shadow p-4 mb-5 bg-body rounded">
		<center><h3>Sign Up</h3></center>
		<hr>
		<br>
			<form action="{% url 'register_user' %}" method=POST>
				{% csrf_token %}

				{{ form.as_p }}

				<br>
				
				<input type="submit" value="Submit" class="btn btn-secondary">
			</form>
			
	</div>
	<br><br>
	
	
{% endblock %}

